{% extends 'pixel_perfect/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'images/css/loading_spinner.css' %}">
{% endblock %}

{% block content %}

<div id="messageContainer" class="container w-50 mt-3" style="display: none">
    <div id="message" class="alert alert-danger d-flex justify-content-center center-block">

    </div>
</div>

<div class="col-xl-12 d-flex justify-content-center">


    <div class="form-group mt-5" style="width: 40%">
        <form method="POST" enctype="multipart/form-data" id="image_form">
            {% csrf_token %}

            <h2 class="heading text-center" style="margin-bottom: 50px">1. Choose image:</h2>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputFile1">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.img_path }}
                    <label class="custom-file-label" for="id_img_path">Choose file</label>
                </div>

            </div>

            <h2 class="heading text-center" style="margin: 50px 0;">2. Select upscale method:</h2>

            <fieldset class="d-flex justify-content-center" style="margin: 5% 0 8%;">
                {% for radio in form.upscale_method %}
                <div class="radio-toolbar" style="display: inline">
                    {{ radio }}
                </div>
                {% endfor %}
            </fieldset>

            <h2 class="heading text-center" style="margin-bottom: 50px">3. Determine the scale :</h2>

            <fieldset class="d-flex justify-content-center" style="margin: 5% 0;">
                {% for radio in form.upscale_size %}
                <div class="radio-toolbar " style="display: inline; margin: 0 10%;">
                    {{ radio }}
                </div>
                {% endfor %}
            </fieldset>
            <div class="custom-control custom-switch">

                {{ form.do_compress }}
                <label class="custom-control-label" for="id_do_compress" style="font-size: 1rem; color: #505050;">
                    {{ form.do_compress.label }}</label>

            </div>

            {{ form.compress_q_factor }}

            <br>
            <div class="d-flex justify-content-between">
                <input type="submit" value="Process" onclick="show_modal()" class="btn btn-info btn-rounded mb-4"
                       id="submit" style="width:47%; border-radius: 40px;" disabled>
                <button type="button" class="btn btn-info btn-rounded mb-4" id="toggleModal"
                        style="width:47%; border-radius: 40px;"
                        data-toggle="modal" data-target="#imageWindowModal" disabled>
                    See result
                </button>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="imageWindowModal" tabindex="-1">

    <div class="modal-dialog modal-lg" role='document' id="image-modal">
        <div class="modal-content h-60">
            <div class="d-flex align-items-center bg-dark">
                <img id="new-image" src="" class="img-fluid mr-auto ml-auto" style="height: 60vh">
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                    <a href="#" type="button" class="btn btn-info ml-auto" id="download">Download</a>
                    <a href="#" type="button" class="btn btn-primary" id="saveGDrive"><img class="mr-2" src="{% static 'users/assets/images/g_drive_icon.png' %}" style="width: 15%;">Google Drive</a>
            </div>
        </div>
    </div>
    <div id="loader" style="align-items: center;">
        <div class="loader text-center">
            <div class="loading ml-auto mr-auto">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="loader-message m-5 bg-dark rainbow-text">
                <h2 class="font-weight-bold">Please wait while we do our magic!</h2>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<script src="{% static 'images/js/form_validation.js' %}"></script>
<script src="{% static 'images/js/fetch_image.js' %}"></script>
<script src="{% static 'images/js/radio_btn_update.js' %}"></script>


<script type="application/javascript">
            $('input[type="file"]').change(function(e){
                var fileName = e.target.files[0].name;
                $('.custom-file-label').html(fileName);
                document.getElementById('inputFile1').classList.add('gradient-background');
            });

</script>

{% endblock %}
