{% extends 'pixel_perfect/base.html' %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'users/css/slider.css' %}">
{% endblock %}

{% block content %}

    <section class="container-fluid" style="display: block; overflow: auto;">
        <div class="row">
            <div class="col-12 text-center welcome-text" style="width: 100% !important %">
                <img src="{% static 'pixel_perfect/assets/images/navbar-brand.png'%}" class="fostrap-logo" style="width: 30vw; padding-top: 2%"/>
                <h2 class="rainbow-text" style="padding-bottom: 1vh;">Where the magic exists!</h2>
                <div class="col-12 d-flex align-items-center justify-content-center  align-middle">
                    <h2 class="text-dark" style="margin-top: 20px; text-align: center;">Upscale your old images, decompress it's size and remove artifacts all in one place</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center" style="margin: 2% 0;">
            <div class=" col-md-12 col-lg-12 col-xl-8 h-100 d-inline-block">

                <div class="container d-flex align-items-center justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center h-100" style="padding-top: 2vh">
                    <div class=" juxtapose shadow img-fluid rounded">
                        <img src="{% static 'users/assets/images/before.png' %}" data-label="before">
                        <img src="{% static 'users/assets/images/after.jpg' %}" data-label="after">
                    </div>
                </div>

                </div>


            </div>
            <div class="col-md-12 col-lg-12 col-xl-4 d-inline-block d-flex align-items-center justify-content-center" style="height: 100%">
                <div class="d-inline-block shadow p-3 rounded">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form | crispy }}
                        </fieldset>

                        <div class="d-flex justify-content-around align-items-center mb-4">

                            <a href="{% url 'password_reset' %}">Forgot password?</a>
                        </div>

                        <!-- Submit button -->
                        <input type="submit" class="btn btn-hover color-9 btn-lg btn-block" value="Sign in">
                        <a type="submit" href="{% url 'register' %}" class="btn btn-outline-info btn-lg btn-block" style="border-radius: 2rem;">Register</a>

                        <div class="divider align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                        </div>
                        <a class="btn btn-outline-danger btn-lg btn-block btn-rounded" href="{% provider_login_url 'google' %}?next=/"
                           role="button" style="border-radius: 2rem;">
                            <img src="https://colorlib.com/etc/lf/Login_v9/images/icons/icon-google.png">
                            Continue with Google</a>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'users/js/slider.js'%}"></script>

{% endblock %}
