{% extends 'pixel_perfect/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="content-section d-flex justify-content-start ml-5 w-100">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group col-md-11">
                    <legend class="border-bottom mb-4 align-items-start rainbow-text">Password Reset Form</legend>
                    <h5 class="text-left">Forgotten your password? <br><br> Enter your email address below, and we’ll email
                        instructions for setting a new one.</h5>
                    <br>
                    {{ form|crispy }}

                    <div class="form-group">
                        <button class="btn btn-outline-info btn-rounded" type="submit">Send Email</button>
                    </div>
                </fieldset>
            </form>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
                <img src="{% static 'users/assets/images/forgot-password.jpg' %}" style="width: 60%;">
            </div>
        </div>
    </div>

{% endblock %}
