{% extends 'pixel_perfect/base.html' %}
{% block content %}

    <div class="content-section" style="height: 50vh;">
        <div class="row">
            <div class="col-12 d-flex w-50 ml-5 mt-5">
                <h4 class="account-heading border-bottom w-50 rainbow-text">Password reset sent!</h4>
                <br>
            </div>
        </div>
        <div class="row d-flex-block" style="margin-top: 10%">
        <div class="col-10 ml-5">
            <h5 class="txt-primary">We’ve emailed you instructions for setting your password, if an account exists
                    with the email you entered. You should receive them shortly.</h5>
            <br>
        </div>
        <div class="col-10 ml-5">
            <h5 class="txt-primary">If you don’t receive an email,
                please make sure you’ve entered the address you registered with, and check your spam folder.</h5>
        </div>
</div>
    </div>

{% endblock %}
