{% extends 'pixel_perfect/base.html' %}
{% block content %}

    <div class="content-section mt-5 ml-5">
        <div class="media">
            <div class="media-body">
                <h3 class="account-heading rainbow-text">Password reset complete</h3>
                <p class="txt-primary">Your password has been set. You may go ahead and log in now.</p>
            </div>
        </div>
        <div class="border-top pt-3">
            <a class=" btn btn-info btn-rounded ml-2" href="{% url 'login' %}">Login</a>
        </div>
    </div>
{% endblock %}


Log in
