{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>PixelPerfect</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'pixel_perfect/assets/images/favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static 'pixel_perfect/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'pixel_perfect/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'pixel_perfect/css/footer.css' %}">

    {% block head %}
    {% endblock %}

</head>

<body class="gradient-background " style="min-height: 100vh">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-dark" id="mainNav">

        <a class="navbar-brand px-3" href="{% url 'login' %}"><img src="{% static 'pixel_perfect/assets/images/navbar-brand.png' %}"
                                                                   style="width: 300px"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                {% if not user.is_authenticated %}
                <li class="nav-item px-2">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}


                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'dashboard' %}" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Menu
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item drop-itm" href="{% url 'dashboard' %}">Dashboard</a>
                      <a class="dropdown-item drop-itm" href="{% url 'upscale' %}">Upscale</a>
                      <a class="dropdown-item drop-itm" href="{% url 'enhance' %}">Enhance</a>
                      <a class="dropdown-item drop-itm" href="{% url 'full_enhancement' %}">Full Restoration</a>
                    </div>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                {% if user.has_usable_password %}
                     <li class="nav-item px-4">
                        <a class="nav-link" href="{% url 'account_change_password' %}">Change password</a>
                    </li>
                {% endif %}

                <li class="nav-item px-4">
                    <a class="nav-link" href="{% url 'images_list' %}">Images</a>
                </li>

                {% endif %}

                <li class="nav-item px-4">
                    <a class="nav-link " href="{% url 'contact' %}">Contact</a>
                </li>
                {% if user.is_authenticated %}

                <li class="nav-item px-4">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </nav>



    <main role="main" class="row shadow rounded bg-white login-page" style="min-height: 100vh">
        {% if messages %}
        {% for message in messages %}
            <div class="container-fluid w-50 mt-3">
                <div class="alert alert-{{ message.tags }} text-center  center-block">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        {% endif %}


        {% block content %}
        {% endblock %}
        {% include 'pixel_perfect/footer.html' %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script src="{% static 'pixel_perfect/js/dropdown_on_hover.js' %}"></script>

</html>
