{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <h4 class="text-secondary" style="margin-bottom: 40px">Please enter your new password twice, so we can verify you typed it in correctly.</h4>
                <legend class="border-bottom mb-4">Enter New Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock %}
