{% extends 'users/base.html' %}
{% block content %}

    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h4 class="account-heading">Password reset sent</h4>
                <br>
                <p class="txt-primary">We’ve emailed you instructions for setting your password, if an account exists
                    with the email you entered. You should receive them shortly.</p>
                <br>
                <p class="txt-primary">If you don’t receive an email,
                    please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
{% endblock %}
