{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container page-top">
    <div class="row">

        {% for object in objects %}
        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 thumb">
            <div class="hovereffect">

                <img class="zoom img-fluid img-responsive" src="{{ object.img_path.url }}" alt="">
                <div class="overlay">
                    <h2>{{ object.img_name }}</h2>
                    <a class="info" href="#" onclick="gallery_modal(
                   img_src='{{ object.img_path.url }}',
                   img_title='{{ object.img_name | upper }}',
                   img_dwnld_url = '{{ object.id }}',
                   img_gdrive_upld_url = '{{ object.id }}')">Details</a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" tabindex="-1">

    <div class="modal-dialog modal-lg" role='document' id="image-modal">
        <div class="d-flex w-100 justify-content-center align-items-center">
            <h5 class="rainbow-text" id="modal-title"></h5>
        </div>
        <div class="modal-content h-60">
            <div class="d-flex align-items-center bg-dark hover-zoom">
                <img id="image-gallery" src="" class="img-fluid mr-auto ml-auto" style="height: 60vh">
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                <a href="#" type="button" class="btn btn-secondary ml-auto" id="download">Download</a>
                <a href="#" type="button" class="btn btn-primary" id="saveGDrive">GDrive</a>
            </div>
        </div>
    </div>
</div>

        <script src="{% static 'js/gallery_modal.js' %}"></script>
{% endblock %}
